/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Review Assignment

   Customer Information Validation Style Sheet
   Author: Lukas Haupt
   Date:   10/22/25

   Filename: rb_validate.css

*/


/* Validation Styles */

